@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1658247698796') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin-copy:before {
  content: "\e652";
}

.icon-xuexiao:before {
  content: "\e606";
}

.icon-dianhua-yuankuang:before {
  content: "\e8be";
}

.icon-youxiang:before {
  content: "\e626";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-gangwei:before {
  content: "\e694";
}

